/*
 * implementation
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package client.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import client.model.BodyRoutesBoundFirstErrorOrder;
import client.model.BodyRoutesBoundOrderRequest;
import client.model.ContractRoutesMeta;
import client.model.EchoedHeadersRoutesBound;
import client.model.EchoedParametersRoutesOne;
import client.model.EchoedParametersRoutesTwo;
import client.model.EchoedQueryRoutesOne;
import client.model.EchoedSearch;
import client.model.EventItem;
import client.model.FirstErrorOrder;
import client.model.FormsRoutesUploaded;
import client.model.Item;
import client.model.ItemsRoutesItemPatch;
import client.model.ItemsRoutesNewItem;
import client.model.ModelAndViewPayload;
import reactor.core.publisher.Mono;
import client.model.OrderRequest;
import client.model.Payload;
import io.micronaut.http.client.multipart.MultipartBody;
import jakarta.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import jakarta.validation.Valid;
import jakarta.validation.constraints.*;

@Generated("io.micronaut.openapi.generator.JavaMicronautClientCodegen")
@Client("${openapi-micronaut-client.base-path}")
public interface DefaultApi {

    /**
     * bind
     *
     * @param xrbTenant (required)
     * @param xrbRequestId (required)
     * @param xrbAccount (required)
     *
     * @return bind 200 response (status code 200)
     */
    @Get("/headers/bind")
    Mono<@Valid EchoedHeadersRoutesBound> bind(
        @Header("x-rb-tenant") @NotNull String xrbTenant,
        @Header("x-rb-request-id") @NotNull String xrbRequestId,
        @Header("x-rb-account") @NotNull Integer xrbAccount
    );

    /**
     * bindMedium
     *
     * @param orderRequest (required)
     *
     * @return bindMedium 200 response (status code 200)
     */
    @Post("/body/bind/medium")
    Mono<@Valid BodyRoutesBoundOrderRequest> bindMedium(
        @Body @NotNull @Valid OrderRequest orderRequest
    );

    /**
     * bindSmall
     *
     * @param orderRequest (required)
     *
     * @return bindSmall 200 response (status code 200)
     */
    @Post("/body/bind/small")
    Mono<@Valid BodyRoutesBoundOrderRequest> bindSmall(
        @Body @NotNull @Valid OrderRequest orderRequest
    );

    /**
     * create
     *
     * @param itemsRoutesNewItem (required)
     *
     * @return create 200 response (status code 200)
     */
    @Post("/items")
    Mono<@Valid Item> create(
        @Body @NotNull @Valid ItemsRoutesNewItem itemsRoutesNewItem
    );

    /**
     * delete
     *
     * @param id (required)
     *
     * @return delete 200 response (status code 200)
     */
    @Delete("/items/{id}")
    Mono<Void> delete(
        @PathVariable("id") @NotNull Integer id
    );

    /**
     * four
     *
     * @return four 200 response (status code 200)
     */
    @Get("/middleware/four")
    Mono<@Valid Payload> four();

    /**
     * headers
     *
     * @return headers 200 response (status code 200)
     */
    @Get("/headers")
    Mono<@Valid Payload> headers();

    /**
     * health
     *
     * @return health 200 response (status code 200)
     */
    @Get("/health")
    @Consumes("text/plain")
    Mono<@NotNull String> health();

    /**
     * items
     *
     * @return items 200 response (status code 200)
     */
    @Get("/stream/items")
    @Consumes("application/x-ndjson")
    Mono<@NotNull List<byte @Nullable []>> items();

    /**
     * large
     *
     * @return large 200 response (status code 200)
     */
    @Get("/cache/large")
    Mono<@Valid Payload> large();

    /**
     * large1
     *
     * @return large_1 200 response (status code 200)
     */
    @Get("/compressed/large")
    Mono<@Valid Payload> large1();

    /**
     * large2
     *
     * @return large_2 200 response (status code 200)
     */
    @Get("/etag/large")
    Mono<@Valid Payload> large2();

    /**
     * large3
     *
     * @return large_3 200 response (status code 200)
     */
    @Get("/json/large")
    Mono<@Valid Payload> large3();

    /**
     * literal
     *
     * @return literal 200 response (status code 200)
     */
    @Get("/parameters/static/segment/literal")
    Mono<@Valid Payload> literal();

    /**
     * many
     *
     * @param page (required)
     * @param size (required)
     * @param status (required)
     * @param category (required)
     * @param sort (required)
     * @param q (required)
     * @param minPrice (required)
     * @param maxPrice (required)
     *
     * @return many 200 response (status code 200)
     */
    @Get("/query/many")
    Mono<@Valid EchoedSearch> many(
        @QueryValue("page") @NotNull Integer page,
        @QueryValue("size") @NotNull Integer size,
        @QueryValue("status") @NotNull String status,
        @QueryValue("category") @NotNull String category,
        @QueryValue("sort") @NotNull String sort,
        @QueryValue("q") @NotNull String q,
        @QueryValue("minPrice") @NotNull Integer minPrice,
        @QueryValue("maxPrice") @NotNull Integer maxPrice
    );

    /**
     * medium
     *
     * @return medium 200 response (status code 200)
     */
    @Get("/cache/medium")
    Mono<@Valid Payload> medium();

    /**
     * medium1
     *
     * @return medium_1 200 response (status code 200)
     */
    @Get("/json/medium")
    Mono<@Valid Payload> medium1();

    /**
     * medium2
     *
     * @return medium_2 200 response (status code 200)
     */
    @Get("/sse/medium")
    @Consumes("text/event-stream")
    Mono<@NotNull List<@Valid EventItem>> medium2();

    /**
     * medium3
     *
     * @return medium_3 200 response (status code 200)
     */
    @Get("/template/medium")
    @Consumes("text/html")
    Mono<@Valid ModelAndViewPayload> medium3();

    /**
     * meta
     *
     * @return meta 200 response (status code 200)
     */
    @Get("/__meta")
    Mono<@Valid ContractRoutesMeta> meta();

    /**
     * multipart
     *
     * @return multipart 200 response (status code 200)
     */
    @Post("/forms/multipart")
    @Produces("multipart/form-data")
    Mono<@Valid FormsRoutesUploaded> multipart(
        @Body @Nullable MultipartBody multipartBody
    );

    /**
     * none
     *
     * @return none 200 response (status code 200)
     */
    @Get("/middleware/none")
    Mono<@Valid Payload> none();

    /**
     * one
     *
     * @param one (required)
     *
     * @return one 200 response (status code 200)
     */
    @Get("/parameters/{one}/segment/literal")
    Mono<@Valid EchoedParametersRoutesOne> one(
        @PathVariable("one") @NotNull Integer one
    );

    /**
     * one1
     *
     * @param page (required)
     *
     * @return one_1 200 response (status code 200)
     */
    @Get("/query/one")
    Mono<@Valid EchoedQueryRoutesOne> one1(
        @QueryValue("page") @NotNull Integer page
    );

    /**
     * plaintext
     *
     * @return plaintext 200 response (status code 200)
     */
    @Get("/plaintext")
    @Consumes("text/plain")
    Mono<@NotNull String> plaintext();

    /**
     * read
     *
     * @param id (required)
     *
     * @return read 200 response (status code 200)
     */
    @Get("/items/{id}")
    Mono<@Valid Item> read(
        @PathVariable("id") @NotNull Integer id
    );

    /**
     * replace
     *
     * @param id (required)
     * @param itemsRoutesNewItem (required)
     *
     * @return replace 200 response (status code 200)
     */
    @Put("/items/{id}")
    Mono<@Valid Item> replace(
        @PathVariable("id") @NotNull Integer id,
        @Body @NotNull @Valid ItemsRoutesNewItem itemsRoutesNewItem
    );

    /**
     * sixteen
     *
     * @return sixteen 200 response (status code 200)
     */
    @Get("/middleware/sixteen")
    Mono<@Valid Payload> sixteen();

    /**
     * small
     *
     * @return small 200 response (status code 200)
     */
    @Get("/authorized/small")
    Mono<@Valid Payload> small();

    /**
     * small1
     *
     * @return small_1 200 response (status code 200)
     */
    @Get("/cache/small")
    Mono<@Valid Payload> small1();

    /**
     * small2
     *
     * @return small_2 200 response (status code 200)
     */
    @Get("/compressed/small")
    Mono<@Valid Payload> small2();

    /**
     * small3
     *
     * @return small_3 200 response (status code 200)
     */
    @Get("/cors/small")
    Mono<@Valid Payload> small3();

    /**
     * small4
     *
     * @return small_4 200 response (status code 200)
     */
    @Get("/etag/small")
    Mono<@Valid Payload> small4();

    /**
     * small5
     *
     * @return small_5 200 response (status code 200)
     */
    @Get("/json/small")
    Mono<@Valid Payload> small5();

    /**
     * small6
     *
     * @return small_6 200 response (status code 200)
     */
    @Get("/template/small")
    @Consumes("text/html")
    Mono<@Valid ModelAndViewPayload> small6();

    /**
     * two
     *
     * @param one (required)
     * @param two (required)
     *
     * @return two 200 response (status code 200)
     */
    @Get("/parameters/{one}/with-second/{two}")
    Mono<@Valid EchoedParametersRoutesTwo> two(
        @PathVariable("one") @NotNull Integer one,
        @PathVariable("two") @NotNull Integer two
    );

    /**
     * update
     *
     * @param id (required)
     * @param itemsRoutesItemPatch (required)
     *
     * @return update 200 response (status code 200)
     */
    @Patch("/items/{id}")
    Mono<@Valid Item> update(
        @PathVariable("id") @NotNull Integer id,
        @Body @NotNull @Valid ItemsRoutesItemPatch itemsRoutesItemPatch
    );

    /**
     * urlencoded
     *
     * @param page (required)
     * @param size (required)
     * @param status (required)
     * @param category (required)
     * @param sort (required)
     * @param q (required)
     * @param minPrice (required)
     * @param maxPrice (required)
     *
     * @return urlencoded 200 response (status code 200)
     */
    @Post("/forms/urlencoded")
    @Produces("application/x-www-form-urlencoded")
    Mono<@Valid EchoedSearch> urlencoded(
        @Body("page") @NotNull Integer page,
        @Body("size") @NotNull Integer size,
        @Body("status") @NotNull String status,
        @Body("category") @NotNull String category,
        @Body("sort") @NotNull String sort,
        @Body("q") @NotNull String q,
        @Body("minPrice") @NotNull Integer minPrice,
        @Body("maxPrice") @NotNull Integer maxPrice
    );

    /**
     * validateFirstError
     *
     * @param firstErrorOrder (required)
     *
     * @return validateFirstError 200 response (status code 200)
     */
    @Post("/body/validate/first-error")
    Mono<@Valid BodyRoutesBoundFirstErrorOrder> validateFirstError(
        @Body @NotNull @Valid FirstErrorOrder firstErrorOrder
    );

    /**
     * validateMedium
     *
     * @param orderRequest (required)
     *
     * @return validateMedium 200 response (status code 200)
     */
    @Post("/body/validate/medium")
    Mono<@Valid BodyRoutesBoundOrderRequest> validateMedium(
        @Body @NotNull @Valid OrderRequest orderRequest
    );

    /**
     * validateSmall
     *
     * @param orderRequest (required)
     *
     * @return validateSmall 200 response (status code 200)
     */
    @Post("/body/validate/small")
    Mono<@Valid BodyRoutesBoundOrderRequest> validateSmall(
        @Body @NotNull @Valid OrderRequest orderRequest
    );

    /**
     * varyMany
     *
     * @param xrbChannel (optional)
     * @param xrbRegion (optional)
     * @param xrbTenant (optional)
     *
     * @return varyMany 200 response (status code 200)
     */
    @Get("/cache/vary/many")
    Mono<@Valid Payload> varyMany(
        @Header("x-rb-channel") @Nullable String xrbChannel,
        @Header("x-rb-region") @Nullable String xrbRegion,
        @Header("x-rb-tenant") @Nullable String xrbTenant
    );

    /**
     * varyOne
     *
     * @param xrbTenant (optional)
     *
     * @return varyOne 200 response (status code 200)
     */
    @Get("/cache/vary/one")
    Mono<@Valid Payload> varyOne(
        @Header("x-rb-tenant") @Nullable String xrbTenant
    );
}